.header {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 1.5% 5% 1.5% 5%;
    background-color: #fff;
    border-style: solid;
    z-index: 100;
    border-width: 0px 0px 0px 0px;
    border-color: #E7E7E7;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.responsive-list-none {
    display: none;
}
.header-responsive-flex-mini-section {
    margin-left: -105px;
}
.header-responsive-flex-section {
    display: flex;
    justify-content: space-around;
}
.header-responsive-item {
    padding: 22px 20px 22px 44px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0F4D9D;
}
.header-responsive-item:hover {
    background-color: #0F4D9D;
    color: #fff;
}
.bars-icon {
    display: none;
    margin-top: 15px;
    cursor: pointer;
}
.responsive-list {
    position: absolute;
    width: 100%;
    top: -1000px;
    list-style-type: none;
    transition: 1s ease all;
    right: 0;
}
.header-responsive-link {
    font-family: "Montserrat", Sans-serif;  
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
    text-decoration: none;
}
.header-responsive-link-mini {
    width: 100%;
}
.header-responsive-link-mini {
    font-family: "Montserrat", Sans-serif;  
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
    text-decoration: none;
}
.header-responsive-item-mini {
    padding: 22px 0px 22px 45px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.header-responsive-item-mini:hover {
    background-color: #0F4D9D;
}
.header-responsive-list-mini {
    width: 100%;
    padding-left: 0px;
    transition: 1s ease all;
    list-style-type: none;
    display: none;
}
.header-responsive-list-mini-first {
    width: 100%;
    padding-left: 0px;
    transition: 1s ease all;
    list-style-type: none;
    display: none;
}
.header-responsive-list-mini-two {
    width: 100%;
    padding-left: 0px;
    transition: 1s ease all;
    list-style-type: none;
    display: none;
}
.header-flex-drop-link:hover {
    background-color: #0F4D9D;
    color: #fff;
    transition: .7s ease all;
}
.header-logo {
    width: 159px;
    height: 35px;
}
body{
    overflow-x: hidden;
    margin: 0;
}
.header-container{
    display: flex;
    justify-content: space-around;
}
.header-flex-list {
    display: flex;
    list-style-type: none;
    width: 849px;
    margin-top: 12px;
    justify-content: space-around;
}
.header-big-flex-element-left {
    margin-left: -80px;
    margin-top: 5px;
}
.header-flex-link {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
}
.header-flex-link:hover {
    color: #0F70D7;
    transition: .7s ease all;
}
.header-flex-drop-list {
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    width: auto;
    top: auto;
    padding: 0;
    margin-left: -11px;
    margin-top: 10px;
    min-width: 7em;
    display: none;
    max-width: 1000px;
}
.header-flex-drop-list1 {
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    width: auto;
    top: auto;
    padding: 0;
    margin-left: -30px;
    margin-top: 10px;
    min-width: 9em;
    display: none;
    max-width: 1000px;
}
.container {
    width: 1349px;
    padding: 0;
    margin: 0 auto;
}
.iframe-overview-title {
    color: #212326;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    width: 534px;
    line-height: 1em;
}
.iframe-first-element {
    margin-top: -33px;
    margin-left: 100px;
    width: 100%;
}
.footer-end-section {
    padding-bottom: 1px;
    text-align: center;
}
.video-list-title {
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.video-list-text {
    color: #6B7177;
    width: 534px;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}
.video-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.video-item {
    width: 554px;
    padding: 30px 30px 30px 30px;

}
.iframe-overview-text {
    color: #6B7177;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 524px;
    line-height: 1.5em;
}
.video-mini-text-youtube {
    color: #6B7177;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}
.deep-mini-section {
    margin-right: 180px;
}
.hover-effect:hover {
    color: #6B7177;
    transition: .5s ease all;
}
.header-flex-drop-list2 {
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    width: auto;
    top: auto;
    padding: 0;
    margin-left: -18px;
    margin-top: 10px;
    min-width: 8em;
    display: none;
    max-width: 1000px;
}
  
.header-flex-item1:hover .header-flex-drop-list {
    display: block;
}
.header-flex-item1 {
    height: 30px;
}
.header-flex-item2:hover .header-flex-drop-list1 {
    display: block;
}
.header-flex-item3:hover .header-flex-drop-list2 {
    display: block;
}
.header-flex-item2 {
    height: 30px;
}
.header-flex-item3 {
    height: 30px;
}
.header-flex-item1:hover {
    display: block;
}
.header-flex-item2:hover {
    display: block;
}
.header-flex-item3:hover {
    display: block;
}
.header-flex-drop-link {
    text-decoration: none;
    color: #0F4D9D;
    font-family: "Montserrat", Sans-serif;  
    font-size: 14px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 10px;
}
.header-flex-drop-link:hover {
    background-color: #0F4D9D;
    color: #fff;
    transition: .7s ease all;
}
.fa-angle-down {
    margin-left: 6px;
    font-size: 12px;
}
.header-flex-drop-item {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #E0E0E069;
}
.header-flex-btn {
    background: #0F4D9D;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;  
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 20px 15px 20px;
}
.header-flex-btn:hover {
    background-color: #1F7AAA;
    transition: .7s ease all;
}
.see-first-text {
    color: #6B7177;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 629px;
    font-weight: 500;
}
.footer-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: -36px;
    text-transform: capitalize;
}
.footer-link-icon-1 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    text-transform: capitalize;
}
.footer-link-icon-2 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    text-transform: capitalize;
}
.footer-link-icon-3 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    text-transform: capitalize;
}
.footer-link-icon-4 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    text-transform: capitalize;
}
.footer-link-icon-1 {
    margin-left: -36px;
}
.svg_icon:hover {
    margin-top: 150px;
    transition: .7s ease all;
}
.footer-link-icon-1:hover {
    color: #4064AC;
    transition: .7s ease all;
}
.footer-link-icon-2:hover {
    color: #1DA1F2;
    transition: .7s ease all;
}
.footer-link-icon-3:hover {
    color: #222222;
    transition: .7s ease all;
}
.footer-link-icon-4:hover {
    color: #FF0000;
    transition: .7s ease all;
}
.footer-first-section {
    border-bottom: 1px solid rgba(255,255,255,0.19);
}
.footer-link:hover {
    transition: .7s ease all;
    color: #6F77D6;
}
.footer {
    background-color: #001C38;
}
.footer-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.footer-big-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.footer-first-section {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 33px;
}
.footer-end-text {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.hero-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1em;
    width: 739px;
}
ul {
    list-style-type: none;
}
.hero-section {
    position: relative;
    padding: 0;
    margin: 0;
}
.hero {
    width: 100%;
    margin-top: 88px;
    margin-bottom: 0px;
    margin-left: -20px;
    position: relative;
    height: 300px;
    padding: 100px 0px 100px 50px;
    background-image: url('https://bigbluebutton.org/wp-content/uploads/2021/02/john-schnobrich-2FPjlAyMQTA-unsplash-scaled.jpg');
    background-size: 36% 100%;
    object-fit: cover;
    background-position: top top;
    background-repeat: no-repeat;
}
.iframe-first-section {
    display: flex;
    width: 100%;
    margin-top: 111px;
}
.hero-blue-section {
    background-color: #247BA0;
    position: absolute;
    right: 0;
    top: 0;
    width: 64.2%;
    bottom: 0;
    height: 500px;
    z-index: 30;
}
.hero-flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-big-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 85%;
    flex-wrap: wrap;
}
.hero-modal-section {
    background-color: #000;
    opacity: 0.38;
    height: 100%;
    width: 100%;
    z-index: 3;
    margin-right: -26px;
    position: absolute;
    left: 0;
    line-height: 1;
    top: 0;
    right: 0;
    bottom: 0;
}
.hero-learn-btn {
    background-color: #FFFFFF;
    border-style: solid;
    font-family: "Roboto";
    color: #0F4D9D;
    fill: #0F4D9D;
    text-decoration: none;
    font-weight: 500;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    margin-right: 10px;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
}
.hero-learn-btn:hover {
    background-color: #1F7AAA;
    border-color: #1F7AAA;
    color: #fff;
    transition: .7s ease all;
}
.hero-link-section {
    margin-top: 40px;
}
.hero-explore-btn {
    background-color: transparent;
    color: #fff;
    border-style: solid;
    font-weight: 500;
    font-size: 15px;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    fill: #fff;
    font-family: "Roboto";
    text-decoration: none;
}
.hero-explore-btn:hover {
    background-color: #fff;
    color: #0F4D9D;
    border-color: #FFF;
    transition: .7s ease all;
}
.hero-text {
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 630px;
    line-height: 1.5em;
}
.svg_icon {
    fill: #fff;
    margin-top: 130px;
    position: absolute;
    cursor: pointer;
    margin-left: 600px;
}
.see-big-section {
    background-color: #F7F7F7;  
    padding: 120px 80px 120px 0px;
    width: 100%;
}
.see-section {
    display: flex;
    padding-left: 30px;
}
.see-first-link {
    text-decoration: inherit;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    fill: #0F4D9D;
    color: #0F4D9D;
}
.see-video {
    width: 100vh;
    height: 100%;
}
.see-video-section {
    width: 333px;
    height: 333px;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.see-first-text {
    color: #6B7177;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 629px;
    font-weight: 500;
}
.see-first-title {
    color: #212326;
    font-family: "Montserrat", sans-serif;
    width: 650px;
    border-bottom: 1px solid #333333;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 22px;
    text-transform: capitalize;
}
.center-footer-list {
    list-style-type: none;
    margin-top: 22px;
}
@media screen and (max-width: 1200px) {
    .header-container {
        width: 90%;
    }
    .header {
       padding-left: 100px;
    }
    .hero {
        background-image: url('');
    }
    .hero-blue-section {
        width: 100%;
        left: 0;
        right: 0;
        padding-left: 100px;
    }
    .iframe-first-section {
        display: block;
    }
    .oveflow-section {
        overflow-x: hidden;
    }
    .hero-text {
        width: 80%;
    }
    .iframe-section-element {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .iframe-first-element {
        margin-left: 30px;
    }
    .video-list {
        padding-left: 0px;
    }
    .hero-title {
        width: 80%;
    }
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .header-flex-list {
        display: none;
     }
     .header {
        padding-left: 55px;
     }
     .iframe-overview-title {
         width: 80%;
     }
     .iframe-overview-text {
        width: 90%;
    }
     .bars-icon {
        display: block;
     }
     .responsive-list-none {
        display: block;
     }
     .bars-icon {
        display: block;
    }
    .center-footer-item {
        text-align: center;
        width: 100%;
        margin-top: 30px;
      }
  .footer-first-section {
          padding-left: 0px;
      }
      .footer-big-list {
          padding-left: 20px;
      }
}